.modalAdd{
  background-color: rgba(0, 0, 0, 0.486);
  position: absolute;
  z-index: 99;
  width: 15em;
  height: 8em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  
}

.modalAdd-items{
  text-decoration: none;
  color: white;
  margin-bottom: -1em;
  margin-left: .5em;
}

.modalAdd-items:hover{
  text-decoration: underline;
}