/* :root{
  --lengthList: 240 ;
} */
.bloco-gameList{
 width: 100%;
 overflow: hidden;
}

.title-gameList{
  text-align: center;
  color: white;
}

.gameList{
  max-width: 100%;
  /* width: var(--lengthList * 240) ; */
  height: 25em;
  display: flex;
  align-items: center;
  transition: all ease 0.7s;
}
.arrowRight,
.arrowLeft {
  background-color: rgba(0, 0, 0, 0.328);
  position: absolute;
  width: 3.3em;
  height: 25em;
  z-index: 99;
  cursor: pointer;
  opacity: 0;
  color: white;
  
}

.gameList:hover .arrowRight,
.gameList:hover .arrowLeft {
  opacity:1;
}

.arrowLeft {
  left:0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 .3em .3em 0;
}

.arrowRight{
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 .3em .3em 0;
}

/* Media */

@media only screen and (max-width: 519px) {
  .arrowRight,
  .arrowLeft{
    min-width: .5em;
    background-color: rgba(0, 0, 0, 0.13);
  }
}