.modalAdd{
  background-color: rgba(0, 0, 0, 0.486);
  position: absolute;
  z-index: 99;
  width: 10em;
  height: 8em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  
}

.modalAdd-items{
  text-decoration: none;
  color: white;
  margin-bottom: -1em;
}
