.viewGame{
  width: 95vw;
  /* height: 100%; */
  background-color: rgba(65, 180, 226, 0.246);
  border-radius: .2em;
  display: grid;
  grid-template-rows: 10% 90%;
}

.viewGame-header{
  width: 100%;
  height: 10%;
}
.viewGame-title {
  width: 100%;
  display: flex;
  font-size: 1.5em;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.794), rgb(186, 243, 246), rgb(149, 251, 251));
  color: rgb(5, 5, 5);
  background-clip: text;
  -webkit-background-clip: text;

  /* Adicionado: */
  -webkit-text-fill-color: transparent;

}
.viewGame-body{
  width: 100%;
  height: 100vh;
  /* background-color: aquamarine; */
  display: grid;
  grid-template-columns: 2fr 1fr 3fr;
}

/* Area 1 */

.viewGame-area1{
  width: 100%;
  height: 90%;
}

.viewGame-favorite{
  margin-left: 1em;
  align-self: flex-start;
  color: #ffd700;
  cursor: pointer;
}

.viewGame-capa{
  width: 100%;
  display: flex;
  justify-content: center;
}

.viewGame-note-year{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0 1em;
}

.viewGame-img{
  /* background-color:antiquewhite; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.viewGame-img img{
  width: 75%;
  height: 100%;
  border-radius: .5em;
}

.viewGame-note{
  color: #ffd700;
  
}

.viewGame-year{
  font-size: 1.2rem;
  color: #ffffff;
}

/* Area 2 */

.viewGame-area2{
  /* background-color: aqua; */
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
 
}

.viewGame-btnEdit, .viewGame-btnDelete, 
.viewGame-btnPlay{
  display: flex;
  justify-content: center;
  
}

.viewGame-btnEdit button,
.viewGame-btnDelete button,
.viewGame-btnPlay button{
  cursor: pointer;
  border-radius: .3em;
  padding: .3em;
}

.viewGame-btnEdit button,
.viewGame-btnDelete button{
  width: 75%;
  margin-bottom: 1em;
}

.viewGame-btnDelete, .viewGame-btnEdit{
  text-decoration: none;
}

.viewGame-btnPlay button{
  width: 100%;
  margin-top: 2em;

}

/* Area 3 */

.viewGame-area3{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 2.2em;
}

.viewGame-trailer{
  width: 100%;
  height: 55%;
  
}
.viewGame-trailer iframe{
  border-radius: .3em;
}

/* Midia */

@media only screen and (max-width: 1020px) {
  .viewGame{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }

  .viewGame-header{
    width: 100%;
    height: 10%;
    
  }
  .viewGame-title{
    width: 100%;
    height: 100%;
  }
  
  .viewGame-body{
    margin: 0;
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .viewGame-area1{
   width: 100%;
   height: 20em;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

  }
  .viewGame-img{
    width: 100%;
  }
  .viewGame-img img{
    width: 12em;
  }

  .viewGame-note-year{
    width: 100%;
    height: 3em;
  }

  .viewGame-area2{
    width: 100%;
    height: 8em;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding-top: 2.5em;
  }
  .viewGame-btnEdit{
    order: 1;
  }
  .viewGame-btnDelete{
    order: 3;
  }

  .viewGame-btnEdit,
  .viewGame-btnDelete{
    width: 30%;
    /* margin-bottom: 1em; */
  }
  .viewGame-btnPlay{
    width: 35%;
    order: 2;
  }

  .viewGame-btnPlay button{
    margin-top: -1em;
  }

  .viewGame-area3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30em;
    
  }
  .viewGame-trailer{
    width: 95%;
    height: 30em;
  }

  .viewGame-trailer iframe{
   display: block;
   margin:  0 auto;
   border-radius: .3em;
  }
}

@media only screen and (max-width: 920px) {
  .viewGame{
    width: 100%;
    height: 60em;
  }
  .viewGame-header{
    width: 100%;
    height: 5em;
  }
  .viewGame-body{
    width: 100%;
    height: 50em;
  }
  .viewGame-area1{
    width: 100%;
    height: 20em;
  }
  .viewGame-img img {
    width: 8em;
  }
  .viewGame-area2{
    width: 100%;
    height: 5em;
    padding-top: -2.5em;
  }
  .viewGame-area3{
    width: 100%;
    height: 20em;
  }
}