/* .bloco-gameCard{
  width: 90%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  margin: 5rem auto;
} */
.gameCard {
  width: 15em;
  height: 25rem;
  background-color: rgba(127, 255, 212, 0.616);
  display: grid;
  grid-template-rows: 1fr 3fr 1fr;
  justify-items: center;
  align-items: center;
  margin: .2em;
  border-radius: .5em;
  cursor: pointer;
  transform: scale(0.95);
  transition: all ease .5s;
}

.gameCard:hover{
  transform: scale(1)
}

.gameCard-capa{
 display:flex;
 justify-content: center;
}

.gameCard img {
  width: 90%;
  height: 98%;
  border-radius: .5em;
 
}

.footerCardGame{
  width: 90%;
  height: 3rem;
  display: flex;
  justify-content: space-between;
}

/* Media */

@media only screen and (max-width: 519px) {
  .gameCard{
    min-width: 15em;
    height: 100%;
  }
}