/* .bloco-gameCard{
  width: 90%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  margin: 5rem auto;
} */
@import url('https://fonts.googleapis.com/css2?family=Calligraffitti&display=swap');
.gameCard {
  width: 15em;
  height: 25rem;
  background-color: rgba(3, 24, 17, 0.335);
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  margin: .2em;
  border-radius: .5em;
  cursor: pointer;
  transform: scale(0.95);
  transition: all ease .5s;
}

.gameCard:hover{
  transform: scale(1)
}

.gameCard-title{
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.178);
  margin-bottom: .4em;
  border-radius: .5em .5em 0 0;
}

.gameCard-title h3{
  width: 100%;
  font-family: 'Calligraffitti', cursive;
  font-size: 1.2em;
  text-align: center;

  background-image: linear-gradient(to bottom, rgb(251, 251, 251), rgb(23, 216, 223), rgb(250, 253, 253));
  color: rgb(246, 246, 246);
  background-clip: text;
  -webkit-background-clip: text;

  /* Adicionado: */
  -webkit-text-fill-color: transparent;
}

.gameCard-capa{
 width: 100%;
 height: 80%; 
 display:flex;
 justify-content: center;
}

.gameCard img {
  width: 90%;
  height: 98%;
  border-radius: .5em;
 
}

.footerCardGame{
  width: 90%;
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gameCard-note{
  color: #ffd700;
  cursor: pointer;
  
}

.gameCard-year{
  background-image: linear-gradient(to bottom, rgb(8, 0, 0), rgb(101, 230, 235), rgb(255, 255, 255));
  color: rgb(6, 117, 112);
  background-clip: text;
  -webkit-background-clip: text;

  /* Adicionado: */
  -webkit-text-fill-color: transparent;
}

/* Media */

@media only screen and (max-width: 519px) {
  .gameCard{
    min-width: 15em;
    height: 100%;
  }
}